.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11.5px;
    background-color: #17212b;
    height: auto;
    border-top: 3px solid #161e29;
    &_inp_otas{
        display: flex;
        align-items: center;
    }

    &_img_svg{
        margin-right: 20px;
    }

    &_input{
        width: 500px;
        height: auto;
        background-color: transparent;
        border: none;
        outline: none;
        color: White;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left; 
    }
}

.svg_footer_otas{
    display: flex;
    align-items: center;
    width: 70px;
    color: darkgrey;
    justify-content: space-between;
}