@import '../src/contect/scss/fonts.scss';
@import '../src/contect/scss/normalize.scss';
@import '../src/contect/scss/var.scss';


svg{
  color: #999;
}

svg:hover{
    color: #fff;
    cursor: pointer;
  }
  

