.main{
    background-image: url(../img/dark_bgc.jpg);
    float: right;
    width: 1086.5px;
    height: 682px;

    &_header{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        height: 60px;
        background-color: #17212b;
        color: #fff;
        padding: 20px;
        border-bottom: 3px solid #161e29;
    }

    &_h3{
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        font-family: Open Sans;
    }

    &_p{
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #8e9ba9;
    }
    
    &_svg{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        color: #aba4a3;
    }


}

// @media only screen and(max-width:1536px) {
// //    .main{
// //     width: 1084.5px;
// //    }
// } 
// @media only screen and(max-width:1535px) {
//    .main{
//     width: 1084px;
//     height: 10px;
//    }
// } 
// @media only screen and(max-width:1530px) {
//    .main{
//     width: 1080.5px;
//    }
// } 






